version: '3.5'
services:
    ztncui:
        image: keynetworks/ztncui
        environment:
            # Public IP address
            # - MYADDR=12.34.56.78
            - HTTP_ALL_INTERFACES=yes
            # default: password
            # - ZTNCUI_PASSWD=obs
            - HTTP_PORT=8000
        ports:
            - '3443:3443'
            # http port: 8000
            - '8000:8000'
        volumes:
            # ztncui
            - ztncui:/opt/key-networks/ztncui/etc/
            # zt1
            - zt1:/var/lib/zerotier-one/
        restart: unless-stopped
